stages:
  - render

render:
  image: python:3.12
  stage: render
  only:
    - master
  script:
    - git config --global user.email "ci@code.siemens.com"
    - git config --global user.name "GitLab CI"
    - git fetch origin
    - git checkout -B rendered origin/master
    - python circuitjs2url.py .
    - git add .
    - git commit -m "Auto-rewrite circuitjs blocks $CI_COMMIT_SHA" || echo "No changes"
    - git push origin rendered --force